pkgbase = littlenavmap
	pkgdesc = A Free Open Source Flight Planner, Navigation Tool, Moving Map, Airport Search, and Airport Information System for Flight Simulator X, Prepar3D, Microsoft Flight Simulator 2020, and X-Plane
	pkgver = 3.0.18
	pkgrel = 1
	url = https://albar965.github.io/littlenavmap.html
	arch = x86_64
	license = GPL3
	makedepends = git
	makedepends = cmake
	makedepends = patchelf
	depends = qt5-base
	depends = qt5-svg
	depends = qt5-declarative
	depends = qt5-imageformats
	depends = curl
	depends = glib2
	conflicts = littlenavmap-bin
	source = atools-v4.0.18.zip::https://github.com/albar965/atools/archive/refs/tags/v4.0.18.zip
	source = http://developer.x-plane.com/wp-content/plugins/code-sample-generation/sdk_zip_files/XPSDK301.zip
	source = littlexpconnect-v1.2.2.zip::https://github.com/albar965/littlexpconnect/archive/refs/tags/v1.2.2.zip
	source = littlenavconnect-v3.0.17.zip::https://github.com/albar965/littlenavconnect/archive/refs/tags/v3.0.17.zip
	source = littlenavmap-v3.0.18.zip::https://github.com/albar965/littlenavmap/archive/refs/tags/v3.0.18.zip
	source = qt.conf
	source = LittleNavmap.desktop
	source = https://github.com/albar965/littlenavmap/releases/download/v3.0.18/LittleNavmap-linux-ubuntu-22.04-3.0.18.tar.xz
	sha256sums = 0ca7a85a0936e413a6f12ea39dcfae3aaa7014509dda0d6537c4feeae85c27a3
	sha256sums = bf0b38ee82283ce18418cf37af3ace83a2cf8e2e88b1951e337be415961c5cbc
	sha256sums = 174c49adf296fb31c24276eea09ed978557e2aa7622f4dbb818a6a7f146d43f2
	sha256sums = c4ecfb71d33ae2e23666e75b34647788ccbb92fc1361e0d4bec89bd1ca634889
	sha256sums = a64ce55a95b004f5f3993e31b32eacbe68cc13dc60d7fb49d387b46d0be9d66f
	sha256sums = 1a47df8eda4bb56c52180a521ac0b573e68b9be23344cecae1685dbe49d12be4
	sha256sums = cd8009076d1f6c4300f98089eeb8acb5ea09fdb3bbafe83ccce910f0a05da51d
	sha256sums = 76e0637ea1af9d206e316e87ac25dbbe92b565d565fa745a0c9192568c6905ea

pkgname = littlenavmap
